/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: white;
}

body {
	background: rgb(2, 8, 28);
}

@tailwind components;

@tailwind utilities;
